@import "variables";

.button {
    font-size: $normalText;
    padding: $gutter*2 $gutter*3;
    border-radius: 3px;
    color: white;
    background-color: #46b688;
    cursor: pointer;
    margin: $gutter*3 0;
    line-height: 1em;

    &:hover {
        background-color: #399f81;
    }

    &:active {
        background-color: #288077;
    }

    .loading {
        height: 12px;
        width: 12px;
        background-image: url("../img/loader.svg");
        background-size: contain;
        animation: spin 2s linear infinite;
        display: inline-block;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
