@import "variables";

@mixin hover{
    &:hover {
        background-color: rgba(0, 245, 120, 0.08);
    }
}

.MuiFormControlLabel-root {
    color: $grey;

    .error {
        color: $error;
    }

    .MuiCheckbox-colorSecondary {
        @include hover;

        &.Mui-checked {
            @include hover;
            color: $greenBackground;
        }
    }
}
