@import "variables";

.loader {
    display: inline-block;
    width: $gutter*7;
    height: $gutter*7;
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 23px);

    &:after {
        content: "";
        display: block;
        width: $gutter*5;
        height: $gutter*5;
        margin: 1px;
        border-radius: 50%;
        border: $gutter/2 solid black;
        border-color: black transparent black transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}