@import "variables";

.app {
    font-family: 'Open Sans', sans-serif;
    padding: $gutter*5;
    margin: auto;
    width: $gutter*50;
    border-radius: $gutter/2;
    border: solid 1px #ebedf8;
    text-align: center;

    .header {
        font-size: 36px;
        margin-bottom: $gutter*3;
    }

    .label {
        margin-bottom: $gutter*4;

        &-phone {
            display: flex;
            align-items: center;
        }
    }

    .dialCode {
        width: $gutter*10;
    }

    .phone {
        width: 100%;
    }

    .info {
        color: $grey;

        a {
            color: $blue;
        }
    }
}
