@import "variables";

.MuiSnackbar-root {
    .MuiTypography-root {
        padding-right: $gutter*3;
        background: #e7f2ee;
        border: 1px solid rgba(65, 151, 121, 0.3);
        color: $green;
        box-shadow: none;
    }

    .message {
        display: flex;
        align-items: center;

        .icon {
            width: $gutter*2;
            height: $gutter*2;
            background-image: url("../img/success.svg");
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: $gutter*2;
        }

    }

    .MuiSnackbarContent-action {
        position: absolute;
        top: $gutter;
        right: $gutter*2.5;

        .close {
            width: $gutter*2;
            height: $gutter*2;
            background-image: url("../img/close.svg");
            cursor: pointer;
        }
    }
}
