@import "variables";

@mixin border {
    border-bottom-color: $border;
}

.MuiTextField-root {
    width: 100%;

    .MuiFormLabel-root {
        &.Mui-focused {
            color: $grey;
        }
    }

    .MuiInput-underline {
        &.Mui-error {
            &:after {
                border-bottom-color: $error;
            }
        }

        &:after {
            @include border;
        }
        &:hover:before {
            @include border;
        }
    }
}
