$gutter: 8px;

$smallText: 12px;
$normalText: 14px;
$largeText: 16px;
$xLargeText: 18px;

$green: #46b688;
$hint: #9398a2;
$error: #ed715c;
$blue: #ebedf8;
$grey: #9b9b9b;
$border: #454545;
$blue: #0a7abf;
$greenBackground: #419779;
